<!DOCTYPE html>
<html>

<head>
   <meta charset=utf-8>
   <title></title>
</head>

<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
        <tbody>
            <tr>
                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
            </tr>
            <tr>
                <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding:9px">
                                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                    <img align="center" alt="" src="https://gallery.mailchimp.com/63fddcb252e309532f2907bcb/images/ff78c8e3-a4d8-4658-aab8-343e59b45abe.png" width="564" style="max-width:1202px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0">
                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 803.5px; top: 333px;">
                                                        <div id=":1sv" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                                                    <h1 style="display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:26px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:normal;text-align:center">Hola {{name}}, aquí está tu nueva contraseña, por razones de seguridad te hemos generado una nueva.</h1> &nbsp;
                                                    <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">Sus datos de acceso a su cuenta&nbsp;en <span class="il">ubin</span> son:</p>
                                                    <table border="0" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td>Email:</td>
                                                                <td><strong><a href="#" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">{{email}}</a></strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Password:</td>
                                                                <td><strong>{{password}}</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    &nbsp;
                                                    <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong>Gracias por su preferencia, hasta pronto.</strong></p>
                                                    &nbsp;
                                                    <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong>Inicie Sesión en&nbsp;<a href="http://ubin.mx/" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank"><span class="il">ubin</span>.mx</a>.</strong></p>
                                                    &nbsp;
                                                    <p style="margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left"><strong>Atentamente,<br>
El equipo de&nbsp;<a href="http://ubin.mx/" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank"><span class="il">ubin</span>.mx</a>.</strong></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top" style="background-color:#fafafa;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                                                    <em>Copyright &copy; 2016 Ubin, All rights reserved.</em>
                                                    <br>
                                                    <br>
                                                    <strong>Our mailing address is:</strong>
                                                    <br> ubin@ubin.mx
                                                    <br>
                                                    <br> Want to change how you receive these emails?
                                                    <br>
                                                    <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" style="padding:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding-left:9px;padding-right:9px">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" valign="top">
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                                    <a href="https://www.linkedin.com/company/ubin-app" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                                    <a href="https://www.facebook.com/ubinapp/?ref=ts&fref=ts" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" valign="middle" width="24">
                                                                                                                                    <a href="https://twitter.com/UBINAPP" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table><span class="HOEnZb"><font color="#888888">
        </font></span><span class="HOEnZb"><font color="#888888">
    </font></span><span class="HOEnZb"><font color="#888888">
</font></span>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>